<p class="lbh-body-m">Sorry, we’re unable to offer you support because you’re not a Hackney resident. We can only help people living in the London Borough of Hackney.</p>
<p class="lbh-body-m">You should <a href="https://www.gov.uk/coronavirus-local-help">contact your local council</a> and ask them for help.</p>