{% from 'lbh-header/macro.njk' import lbhHeader %}
{% from 'lbh-button/macro.njk' import lbhButton %}

{% extends "./layouts/base.html" %}

{% block content %}
    {% if endJourney %}
    {% include './partials/end-message-field-' + messageID + '.html' %}
    {% else %}

    <h1 class="lbh-heading-h1">Thank you.</h1>
    <p class="lbh-body-m">Thank you for your request, we understand this is a difficult situation for you.</p>
    
    <h3 class="lbh-heading-h3">What happens next</h3>

    <p class="lbh-body-m">We will assess your request and prioritise the most urgent cases. We might:</p>

    <ul class="lbh-list lbh-list--bullet">
        <li>contact you if we need further information</li>
        <li>share your details with a charity or service that’s delivering supplies with the Council</li>
    </ul>

    <h3 class="lbh-heading-h3">Basic food deliveries</h3>
    <p class="lbh-body-m">We aim to deliver your food within 3 working days. We do not make deliveries on weekends. If you made your request on a Friday, the earliest you can get a food delivery is the following Tuesday. You will need to rely on friends, family and neighbours in the meantime.</p>

    <h3 class="lbh-heading-h3">Essentials or medical prescription deliveries</h3>
    <p class="lbh-body-m">We provide this service with <a href="https://www.vchackney.org/" target="_blank">Volunteer Centre Hackney.</a> They will contact you to discuss what you need. They aim to deliver within 1 to 2 working days.</p>
    <p class="lbh-body-m">For more information and advice, read our guidance on <a href="https://hackney.gov.uk/coronavirus-support" target="_blank">coronavirus support.</a></p>


    {% endif %}
{% endblock %}