{% from 'lbh-header/macro.njk' import lbhHeader %}

{% extends "./layouts/base.html" %}

{% block content %}
    {% if endJourney %}
    {% include './partials/end-message-field-' + messageID + '.html' %}
    {% else %}

    <h1 class="lbh-heading-h1">Thank you for your request for support.</h1>
    <p class="lbh-body-m">If you’ve shared an email address, you’ll receive an email confirmation.</p>
    
    <h3 class="lbh-heading-h3">What happens next</h3>

    <p class="lbh-body-m">We will look at your request and then find you the most appropriate support.</p>

    <p class="lbh-body-m">We will contact you within 5 working days and contact the most urgent requests first.</p>

    <p class="lbh-body-m">If you need to talk to us sooner, call 020 8356 3111 from 9am to 5pm, Monday to Friday. If we need to call you, it will show as coming from the number 020 8356 0018.</p>
    
    
    <h3 class="lbh-heading-h3">If you’ve requested help with accessing medicines or other essentials</h3>
    <p class="lbh-body-m">We will share your request with <a href="https://www.vchackney.org/" target="_blank">Volunteer Centre Hackney.</a>. We will only do this if you’ve given us consent to share your request with voluntary or community organisations.</p>

    <p class="lbh-body-m"><a href="https://docs.google.com/forms/d/e/1FAIpQLSekZLzPdlFxU6847Hzfl-ZkIcuIWdnPIHI0qS5eFJdANNAT9w/viewform">What did you think of this service?</a></p>

    <p class="lbh-body-m"><a href="https://hackney.gov.uk/coronavirus-support">Find out more about coronavirus support.</a></p>
    {% endif %}
{% endblock %}