{% from 'lbh-header/macro.njk' import lbhHeader %}
{% from 'lbh-button/macro.njk' import lbhButton %}
{% from 'lbh-radios/macro.njk' import lbhRadios %}

{% extends "./layouts/base.html" %}

{% block content %}
    <h1 class="lbh-heading-h2">Do you need help getting medicines delivered?</h1>
    <p class="lbh-body-m">For example, because you’re unable to leave home due to coronavirus.</p>

    <form action="/step-2" method="post">
        {% include './partials/step-1-fields.html' %}
        {% include './partials/step-1-1-fields.html' %}
        {% include './partials/step-1-2-fields.html' %}
        {% include './partials/step-1-3-fields.html' %}
        {% include './partials/step-1-4-fields.html' %}
        {% include './partials/step-2-fields.html' %}
        {% include './partials/step-3-fields.html' %}

        {{ lbhRadios({
            "idPrefix": "[FIELD_NAME]",
            "name": "[FIELD_NAME]",
            "items": [
                {
                "value": "yes",
                    "text": "Yes",
                    "checked": true if query.[FIELD_NAME] == 'yes' else false
                },
                {
                "value": "no",
                    "text": "No",
                    "checked": true if query.[FIELD_NAME] == 'no' else false
                }
            ],
            "errorMessage": {
                "text": query.error_[FIELD_NAME]
            } if query.error_[FIELD_NAME] else null
        }) }}

        {{ lbhButton({
            text: "Next"
        })}}
    </form>
{% endblock %}