{% from 'lbh-header/macro.njk' import lbhHeader %}
{% from 'lbh-button/macro.njk' import lbhButton %}
{% from "lbh-textarea/macro.njk" import lbhTextarea %}
{% from "lbh-checkboxes/macro.njk" import lbhCheckboxes %}

{% extends "./layouts/base.njk" %}

{% block content %}

    <h1 class="lbh-heading-h3">What essential supplies do you need?</h1>

    <form action="/step-3-4" method="post">
        {% include './partials/step-1-fields.html' %}
        {% include './partials/step-1-1-fields.html' %}
        {% include './partials/step-1-2-fields.html' %}
        {% include './partials/step-1-3-fields.html' %}
        {% include './partials/step-1-4-fields.html' %}
        {% include './partials/step-2-fields.html' %}
        {% include './partials/step-3-fields.html' %}
        {% include './partials/step-3-1-fields.html' %}
        {% include './partials/step-3-2-fields.html' %}
        {% include './partials/step-3-3-fields.html' %}

        {{ lbhCheckboxes({
            "hint": {
                "text": "Select all that apply"
            },
            "idPrefix": "urgent_essentials",
            "name": "urgent_essentials",
            "items": [
                {
                    "value": "nappies",
                    "text": "Nappies",
                    "checked": true if query.urgent_essentials and "nappies" in query.urgent_essentials else false
                },
                {
                    "value": "sanitary products",
                    "text": "Sanitary products",
                    "checked": true if query.urgent_essentials and "sanitary products" in query.urgent_essentials else false
                },
                {
                    "value": "cleaning products",
                    "text": "Cleaning products - such as washing up liquid or washing powder",
                    "checked": true if query.urgent_essentials and "cleaning products" in query.urgent_essentials else false
                },
                {
                    "value": "toiletries",
                    "text": "Toiletries - such as toothpaste or shampoo",
                    "checked": true if query.urgent_essentials and "toiletries" in query.urgent_essentials else false
                },
                {
                    "value": "medical supplies",
                    "text": "Medical supplies - such as paracetamol or plasters",
                    "checked": true if query.urgent_essentials and "medical supplies" in query.urgent_essentials else false
                },
                {
                    "value": "something else",
                    "text": "Something else",
                    "checked": true if query.urgent_essentials and "something else" in query.urgent_essentials else false
                }
            ],
            "formGroup": {
                "classes": "govuk-form-group--error lbh-form-group" if query.error_urgent_essentials else ''
            },
            "errorMessage": {
                "text": query.error_urgent_essentials
            } if query.error_urgent_essentials else null
        }) }}

        <h3 class="lbh-heading-h3">Is there anything you’d like to tell us about the essential supplies you need? (Optional)</h3>

        {{ lbhTextarea({
            "hint": {
                "text": "For example, the size or number of products you need."
            },
            "id": "urgent_essentials_anything_else",
            "name": "urgent_essentials_anything_else",
            "value": query.urgent_essentials_anything_else
        }) }}

        {{ lbhButton({
            text: "Next"
        })}}
    </form>
{% endblock %}