{% from 'lbh-header/macro.njk' import lbhHeader %}
{% from 'lbh-button/macro.njk' import lbhButton %}
{% from 'lbh-radios/macro.njk' import lbhRadios %}
{% from "lbh-textarea/macro.njk" import lbhTextarea %}

{% extends "./layouts/base.njk" %}

{% block content %}
    <h1 class="lbh-heading-h3">When do you need medicines to be delivered?</h1>

    <form action="/step-3-3" method="post">
        {% include './partials/step-1-fields.html' %}
        {% include './partials/step-1-1-fields.html' %}
        {% include './partials/step-1-2-fields.html' %}
        {% include './partials/step-1-3-fields.html' %}
        {% include './partials/step-1-4-fields.html' %}
        {% include './partials/step-2-fields.html' %}
        {% include './partials/step-3-fields.html' %}
        {% include './partials/step-3-1-fields.html' %}
        {% include './partials/step-3-2-fields.html' %}

        
        {{ lbhRadios({
            "idPrefix": "when_is_medicines_delivered",
            "name": "when_is_medicines_delivered",
            "items": [
                {
                "value": "today or tomorrow",
                    "text": "I need medicines today or tomorrow",
                    "checked": true if query.when_is_medicines_delivered == 'today or tomorrow' else false
                },
                {
                "value": "this week or next week",
                    "text": "I will need medicines later this week or next week",
                    "checked": true if query.when_is_medicines_delivered == 'this week or next week' else false
                },
                {
                "value": "not sure",
                    "text": "Not sure",
                    "checked": true if query.when_is_medicines_delivered == 'not sure' else false
                }
            ],
            "errorMessage": {
                "text": query.error_when_is_medicines_delivered
            } if query.error_when_is_medicines_delivered else null
        }) }}

        <h2 class="lbh-heading-h3">Where does your medicine need to be collected from?</h2>

        {{ lbhTextarea({
            "hint": {
                "text": "Enter the pharmacy name and address for medicine collections."
            },
            "id": "name_address_pharmacist",
            "name": "name_address_pharmacist",
            "value": query.getting_in_touch_reason,
            "errorMessage": {
                "text": query.error_name_address_pharmacist
            } if query.error_name_address_pharmacist else null
        }) }}

        {{ lbhButton({
            text: "Next"
        })}}
    </form>
{% endblock %}