{% from 'lbh-header/macro.njk' import lbhHeader %}
{% from 'lbh-button/macro.njk' import lbhButton %}
{% from "lbh-textarea/macro.njk" import lbhTextarea %}
{% from "lbh-checkboxes/macro.njk" import lbhCheckboxes %}

{% extends "./layouts/base.njk" %}

{% block content %}
    <h3 class="lbh-heading-h3">Why are you getting in touch with us today? (Optional)</h3>

    <form action="/step-3" method="post">
        {% include './partials/step-1-fields.njk' %}
        {% include './partials/step-1-1-fields.njk' %}
        {% include './partials/step-1-2-fields.njk' %}
        {% include './partials/step-1-3-fields.njk' %}
        {% include './partials/step-1-4-fields.njk' %}
        {% include './partials/step-2-fields.njk' %}

        {{ lbhTextarea({
            "hint": {
                "text": "Tell us about your situation and the help you need."
            },
            "id": "getting_in_touch_reason",
            "name": "getting_in_touch_reason",
            "value": query.getting_in_touch_reason
        }) }}

        {{ lbhCheckboxes({
            "fieldset": {
                "legend": {
                    "text": "What type of help do you need because of coronavirus?"
                }
            },
            "hint": {
                "text": "Select all that apply"
            },
            "idPrefix": "what_coronavirus_help",
            "name": "what_coronavirus_help",
            "items": [
                {
                    "value": "food and essential supplies",
                    "text": "Food and essential supplies",
                    "checked": true if query.what_coronavirus_help and "food and essential supplies" in query.what_coronavirus_help else false
                },
                {
                    "value": "debt and money",
                    "text": "Managing money or debts, including how to apply for benefits",
                    "checked": true if query.what_coronavirus_help and "debt and money" in query.what_coronavirus_help else false
                },
                {
                    "value": "health",
                    "text": "Health, including Coronavirus testing",
                    "checked": true if query.what_coronavirus_help and "health" in query.what_coronavirus_help else false
                },
                {
                    "value": "mental health",
                    "text": "Mental health and wellbeing, including if you're feeling lonely or isolated",
                    "checked": true if query.what_coronavirus_help and "mental health" in query.what_coronavirus_help else false
                },
                {
                    "value": "housing",
                    "text": "Housing, including feeling unsafe where you live or help staying at home",
                    "checked": true if query.what_coronavirus_help and "housing" in query.what_coronavirus_help else false
                },
                {
                    "value": "technology support",
                    "text": "Accessing the internet, including support to use technology",
                    "checked": true if query.what_coronavirus_help and "technology support" in query.what_coronavirus_help else false
                },
                {
                    "value": "something else",
                    "text": "Something else",
                    "checked": true if query.what_coronavirus_help and "something else" in query.what_coronavirus_help else false
                }
            ],
            "formGroup": {
                "classes": "govuk-form-group--error lbh-form-group" if query.error_what_coronavirus_help else ''
            },
            "errorMessage": {
                "text": query.error_what_coronavirus_help
            } if query.error_what_coronavirus_help else null
        }) }}

        {{ lbhButton({
            text: "Next"
        })}}
    </form>
{% endblock %}