{% from 'lbh-header/macro.njk' import lbhHeader %}
{% from 'lbh-button/macro.njk' import lbhButton %}
{% from 'lbh-radios/macro.njk' import lbhRadios %}

{% extends "./layouts/base.html" %}

{% block content %}
    <h1 class="lbh-heading-h3">Do you have the consent of the person needing help to complete this form on their behalf?</h1>

    <form action="/step-1-1" method="post">
        {% include './partials/step-1-fields.html' %}

        {{ lbhRadios({
            "idPrefix": "consent_to_complete_on_behalf",
            "name": "consent_to_complete_on_behalf",
            "items": [
                {
                "value": "true",
                    "text": "Yes, I have their consent to complete this form",
                    "checked": true if query.consent_to_complete_on_behalf == 'true' else false
                },
                {
                "value": "false",
                    "text": "No, I do not have their consent",
                    "checked": true if query.consent_to_complete_on_behalf == 'false' else false
                }
            ],
            "errorMessage": {
                "text": query.error_consent_to_complete_on_behalf
            } if query.error_consent_to_complete_on_behalf else null
        }) }}

        {{ lbhButton({
            text: "Next"
        })}}
    </form>
{% endblock %}