{% from 'lbh-header/macro.njk' import lbhHeader %}
{% from 'lbh-button/macro.njk' import lbhButton %}
{% from "lbh-textarea/macro.njk" import lbhTextarea %}

{% extends "./layouts/base.html" %}

{% block content %}
    <h1 class="lbh-heading-h3">GP surgery details (Optional)</h1>

    <form action="/step-8" method="post">
        {% include './partials/step-1-fields.html' %}
        {% include './partials/step-1-1-fields.html' %}
        {% include './partials/step-1-2-fields.html' %}
        {% include './partials/step-1-3-fields.html' %}
        {% include './partials/step-1-4-fields.html' %}
        {% include './partials/step-2-fields.html' %}
        {% include './partials/step-3-fields.html' %}
        {% include './partials/step-3-1-fields.html' %}
        {% include './partials/step-3-2-fields.html' %}
        {% include './partials/step-3-3-fields.html' %}
        {% include './partials/step-3-4-fields.html' %}
        {% include './partials/step-4-fields.html' %}
        {% include './partials/step-5-fields.html' %}
        {% include './partials/step-6-fields.html' %}
        {% include './partials/step-7-fields.html' %}

        {{ lbhTextarea({
            "hint": {
                "text": "Please provide the name and address of the GP surgery you are registered with"
            },
            "id": "gp_surgery_details",
            "name": "gp_surgery_details",
            "value": query.gp_surgery_details,
            "errorMessage": {
                "text": query.error_gp_surgery_details
            } if query.error_gp_surgery_details else null
        }) }}

        {{ lbhButton({
            text: "Next"
        })}}
    </form>
{% endblock %}