{% from 'lbh-header/macro.njk' import lbhHeader %}
{% from 'lbh-button/macro.njk' import lbhButton %}
{% from "lbh-textarea/macro.njk" import lbhTextarea %}

{% extends "./layouts/base.njk" %}

{% block content %}
    <h1 class="lbh-heading-h3">What is your relationship to the person who needs help?</h1>

    <form action="/step-1-4" method="post">
        {% include './partials/step-1-fields.njk' %}
        {% include './partials/step-1-1-fields.njk' %}
        {% include './partials/step-1-2-fields.njk' %}
        {% include './partials/step-1-3-fields.njk' %}

        {{ lbhTextarea({
            "id": "relationship_with_resident",
            "name": "relationship_with_resident",
            "value": query.relationship_with_resident,
            "errorMessage": {
                "text": query.error_relationship_with_resident
            } if query.error_relationship_with_resident else null
        }) }}

        {{ lbhButton({
            text: "Next"
        })}}
    </form>
{% endblock %}