{% from 'lbh-header/macro.njk' import lbhHeader %}
{% from 'lbh-button/macro.njk' import lbhButton %}
{% from 'lbh-radios/macro.njk' import lbhRadios %}
{% from 'lbh-error-summary/macro.njk' import lbhErrorSummary %}

{% extends "./layouts/base.njk" %}

{% block content %}
    {% if query.error %}
        {{lbhErrorSummary({
            "titleText": "Something went wrong",
            "descriptionText": query.error
        })}}
    {% endif %}

    <h1 class="lbh-heading-h3">Can we share the information you’ve provided with voluntary or community organisations?</h1>
    <p class="lbh-body-m">For example, sharing your contact details with a charity so they can call you to offer support.</p>
    <p class="lbh-body-m">If we cannot share your information, it will be harder for us to find support but we can still help.</p>
    <p class="lbh-body-m">If you’re applying for someone else, you’ll need their consent to share their information.</p>

    <form action="/step-10" method="post">
        {% include './partials/step-1-fields.njk' %}
        {% include './partials/step-1-1-fields.njk' %}
        {% include './partials/step-1-2-fields.njk' %}
        {% include './partials/step-1-3-fields.njk' %}
        {% include './partials/step-1-4-fields.njk' %}
        {% include './partials/step-2-fields.njk' %}
        {% include './partials/step-3-fields.njk' %}
        {% include './partials/step-3-1-fields.njk' %}
        {% include './partials/step-3-2-fields.njk' %}
        {% include './partials/step-3-3-fields.njk' %}
        {% include './partials/step-3-4-fields.njk' %}
        {% include './partials/step-4-fields.njk' %}
        {% include './partials/step-5-fields.njk' %}
        {% include './partials/step-6-fields.njk' %}
        {% include './partials/step-7-fields.njk' %}
        {% include './partials/step-8-fields.njk' %}
        {% include './partials/step-9-fields.njk' %}

        {{ lbhRadios({
            "idPrefix": "consent_to_share",
            "name": "consent_to_share",
            "items": [
                {
                "value": "yes",
                    "text": "Yes",
                    "checked": true if query.consent_to_share == 'yes' else false
                },
                {
                "value": "no",
                    "text": "No",
                    "checked": true if query.consent_to_share == 'no' else false
                }
            ],
            "errorMessage": {
                "text": query.error_consent_to_share
            } if query.error_consent_to_share else null
        }) }}

        {{ lbhButton({
            text: "Submit"
        })}}
    </form>
{% endblock %}