{% from 'lbh-header/macro.njk' import lbhHeader %}
{% from 'lbh-button/macro.njk' import lbhButton %}
{% from 'lbh-radios/macro.njk' import lbhRadios %}

{% extends "./layouts/base.html" %}

{% block content %}
    <h1 class="lbh-heading-h3">Can your pharmacy deliver your medicines to you for free?</h1>

    <form action="/step-3-2" method="post">
        {% include './partials/step-1-fields.html' %}
        {% include './partials/step-1-1-fields.html' %}
        {% include './partials/step-1-2-fields.html' %}
        {% include './partials/step-1-3-fields.html' %}
        {% include './partials/step-1-4-fields.html' %}
        {% include './partials/step-2-fields.html' %}
        {% include './partials/step-3-fields.html' %}
        {% include './partials/step-3-1-fields.html' %}

        {{ lbhRadios({
            "idPrefix": "is_pharmacist_able_to_deliver",
            "name": "is_pharmacist_able_to_deliver",
            "items": [
                {
                    "value": "yes",
                    "text": "Yes",
                    "checked": true if query.is_pharmacist_able_to_deliver == 'yes' else false,
                    "conditional": {
                        "html": "<p class=\"lbh-body-m\">It is quicker if you ask your pharmacy to deliver your medicines to you.</p><p class=\"lbh-body-m\">If you cannot arrange this, call us on 020 8356 3111.</p>"
                    }
                },
                {
                    "value": "no",
                    "text": "No",
                    "checked": true if query.is_pharmacist_able_to_deliver == 'no' else false
                },
                {
                    "value": "unsure",
                    "text": "Not sure",
                    "checked": true if query.is_pharmacist_able_to_deliver == 'unsure' else false
                }
            ],
            "errorMessage": {
                "text": query.error_is_pharmacist_able_to_deliver
            } if query.error_is_pharmacist_able_to_deliver else null
        }) }}


        {{ lbhButton({
            text: "Next"
        })}}
    </form>
{% endblock %}