{% from 'lbh-header/macro.njk' import lbhHeader %}
{% from 'lbh-button/macro.njk' import lbhButton %}
{% from 'lbh-radios/macro.njk' import lbhRadios %}

{% extends "./layouts/base.html" %}

{% block content %}
    <h1 class="lbh-heading-h3">Are you completing this form on behalf of someone else?</h1>

    <form action="/step-1" method="post">
        {{ lbhRadios({
            "idPrefix": "is_on_behalf",
            "name": "is_on_behalf",
            "items": [
                {
                "value": "true",
                    "text": "Yes",
                    "checked": true if query.is_on_behalf == 'true' else false
                },
                {
                "value": "false",
                    "text": "No",
                    "checked": true if query.is_on_behalf == 'false' else false
                }
            ],
            "errorMessage": {
                "text": query.error_is_on_behalf
            } if query.error_is_on_behalf else null
        }) }}

        {{ lbhButton({
            text: "Next"
        })}}
    </form>
{% endblock %}