{% from 'lbh-header/macro.njk' import lbhHeader %}
{% from 'lbh-button/macro.njk' import lbhButton %}
{% from 'lbh-radios/macro.njk' import lbhRadios %}

{% extends "./layouts/base.njk" %}

{% block content %}
    <h1 class="lbh-heading-h3">Do you need help getting medicines delivered?</h1>
    <p class="lbh-body-m">For example, because you’re unable to leave home due to coronavirus.</p>

    <form action="/step-3-1" method="post">
        {% include './partials/step-1-fields.njk' %}
        {% include './partials/step-1-1-fields.njk' %}
        {% include './partials/step-1-2-fields.njk' %}
        {% include './partials/step-1-3-fields.njk' %}
        {% include './partials/step-1-4-fields.njk' %}
        {% include './partials/step-2-fields.njk' %}
        {% include './partials/step-3-fields.njk' %}

        {{ lbhRadios({
            "idPrefix": "medicine_delivery_help_needed",
            "name": "medicine_delivery_help_needed",
            "items": [
                {
                "value": "yes",
                    "text": "Yes",
                    "checked": true if query.medicine_delivery_help_needed == 'yes' else false
                },
                {
                "value": "no",
                    "text": "No",
                    "checked": true if query.medicine_delivery_help_needed == 'no' else false
                }
            ],
            "errorMessage": {
                "text": query.error_medicine_delivery_help_needed
            } if query.error_medicine_delivery_help_needed else null
        }) }}

        {{ lbhButton({
            text: "Next"
        })}}
    </form>
{% endblock %}